*{
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.196);
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    margin-top: 40px;
}
.calculator h1{
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    color: aliceblue;
}

.calc{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
}

.calc input{
    width: 600px;
    padding: 16px 6px;
    font-size: 24px;
    font-weight: 500;
    border: 1px solid transparent;
    outline: none;
    transition: all .3s ease-in-out;
    border-radius: 8px;
}

.calc input:hover{
    border: 2px solid green;
}
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.actions button{
    height: 50px;
    width: 50px; 
    border: 1px solid transparent;
    outline: none;
    transition: all .3s ease-in-out;
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
}

.actions button:hover{
   background-color: rgba(0, 0, 0, 0.27);
   color: white;
}

.resultBtn{
    width: 600px;
    padding: 16px 6px;
    font-size: 24px;
    font-weight: 700;
    background: none;
    border: 2px solid black;
    outline: none;
    transition: all .5s ease-in-out;
    border-radius: 8px;
}
.resultBtn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 0px 100px 10px white;
}

.calculator h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: aliceblue; 
    margin-top: 48px
}
.calculator .result{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: aliceblue; 
}